ADF/devl/pipeline/CRM_IncrementalLoad.json
{
	"name": "CRM_IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "LookupConfigTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from stg.Config where Enabled=1;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "BotDestStgConfigTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FilterOnlyCRM",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupConfigTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupConfigTable').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(Item().Source,'CRM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachEnabledTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnlyCRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnlyCRM').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CheckincrementalLoad",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Incremental_Full_Load,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "myvar",
											"value": "@item()"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"myvar": {
				"type": "String"
			}
		},
		"annotations": []
	}
}