ADF/devl/pipeline/MetaDataActivityTest.json
{
	"name": "MetaDataActivityTest",
	"properties": {
		"activities": [
			{
				"name": "GetMetaData",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "onPremNewFolderlist",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filterfiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetaData').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'d3')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "ifFilterEmpty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filterfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Filterfiles').output)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_filesPresent",
								"value": "'Yes'"
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_filesPresent": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "testActivities"
		},
		"annotations": []
	}
}