ADF/devl/pipeline/MetaDataActivityTest.json
{
	"name": "MetaDataActivityTest",
	"properties": {
		"activities": [
			{
				"name": "GetMetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "onPremNewFolderlist",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filterfiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetaData').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'d3')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "testActivities"
		},
		"annotations": []
	}
}